[flake8]
max-line-length = 100
exclude = 
    .git,
    __pycache__,
    docs,
    .venv,
    venv,
    node_modules,
    build,
    dist
ignore = 
    E203,
    E501,
    W503
per-file-ignores =
    __init__.py:F401
